###################################################################################################
# Config file for the Solar server
###################################################################################################

# Defines the logfile name. Logging to file only as daemon
logfile                         /var/log/solar.log

# Defines the PID file name, when running as daemon
pidfile                         /tmp/SolarServer.pid

# Pulse meter filename to which the simulated kWh meter value is stored
pulsemeter_file1                data/pulse1.txt
pulsemeter_file2                data/pulse2.txt
pulsemeter_file3                data/pulse3.txt
# Pulse meter persist interval; the interval for persisting the simulated pulse meter to file 
# 0 - no persistence, 1 - per minute, 2 - per hour, 3 - per day
pulsemeter_persist_interval	    1

# Server port
server_port                      8002

# The pulses per kWh
pulse1_pulsesperkwh             1000
pulse2_pulsesperkwh             1000
pulse3_pulsesperkwh             1000

# Input pin numbers. Only pin numbers on the connector of Rasberry Pi are supported
pulse1_gpio_input               GPIO22
pulse2_gpio_input               GPIO23
pulse3_gpio_input               GPIO17

# Output pin for the LED
pulse1_gpio_output              GPIO9
pulse2_gpio_output              GPIO10
pulse3_gpio_output              GPIO11

# Indicates the usage of the meter: 0 - not used, 1 - consumption, 2 - production
pulse1_usage                    2
pulse2_usage                    1
pulse3_usage                    0

# Output pin for the heart beat LED
heartbeat_gpio_output           GPIO7

serial_port_device              /dev/ttyAMA0
serial_gpio_invert              GPIO4
serial_invert                   1
serial_baudrate                 115200
serial_bits                     8
serial_stop_bits                1
# parity: odd -1, no 0, even 1
serial_parity                   0

smartmeter_time                 0-0:1\.0\.0\(([0-9]{12})\w\)
smartmeter_import_kwh_low       1-0:1\.8\.1\(([0-9.]*)\*kWh\)
smartmeter_import_kwh_high      1-0:1\.8\.2\(([0-9.]*)\*kWh\)
smartmeter_export_kwh_low       1-0:2\.8\.1\(([0-9.]*)\*kWh\)
smartmeter_export_kwh_high      1-0:2\.8\.2\(([0-9.]*)\*kWh\)
smartmeter_import_kw            1-0:1\.7\.0\(([0-9.]*)\*kW\)
smartmeter_export_kw            1-0:2\.7\.0\(([0-9.]*)\*kW\)
smartmeter_tariff               0-0:96\.14\.0\(([0-9]{4})\)
smartmeter_powerfailures        0-0:96\.7\.21\(([0-9]*)\)
smartmeter_longpowerfailures    0-0:96\.7\.9\(([0-9]*)\)
smartmeter_sags_l1              1-0:32\.32\.0\(([0-9]*)\)
smartmeter_sags_l2              1-0:52\.32\.0\(([0-9]*)\)
smartmeter_sags_l3              1-0:72\.32\.0\(([0-9]*)\)
smartmeter_swells_l1            1-0:32\.36\.0\(([0-9]*)\)
smartmeter_swells_l2            1-0:52\.36\.0\(([0-9]*)\)
smartmeter_swells_l3            1-0:72\.36\.0\(([0-9]*)\)
smartmeter_voltage_l1           1-0:32\.7\.0\(([0-9.]*)\*V\)
smartmeter_voltage_l2           1-0:52\.7\.0\(([0-9.]*)\*V\)
smartmeter_voltage_l3           1-0:72\.7\.0\(([0-9.]*)\*V\)
smartmeter_current_l1           1-0:31\.7\.0\(([0-9.]*)\*A\)
smartmeter_current_l2           1-0:51\.7\.0\(([0-9.]*)\*A\)
smartmeter_current_l3           1-0:71\.7\.0\(([0-9.]*)\*A\)
smartmeter_importact_l1_kw      1-0:21\.7\.0\(([0-9.]*)\*kW\)
smartmeter_importact_l2_kw      1-0:41\.7\.0\(([0-9.]*)\*kW\)
smartmeter_importact_l3_kw      1-0:61\.7\.0\(([0-9.]*)\*kW\)
smartmeter_exportact_l1_kw      1-0:22\.7\.0\(([0-9.]*)\*kW\)
smartmeter_exportact_l2_kw      1-0:42\.7\.0\(([0-9.]*)\*kW\)
smartmeter_exportact_l3_kw      1-0:62\.7\.0\(([0-9.]*)\*kW\)
smartmeter_gas                  0-1:24\.2\.1\([0-9]*\w\)\(([0-9.]*)\*m3\)
smartmeter_gas_time             0-1:24\.2\.1\(([0-9]*)\w\)\(.*\*m3\)

amqp_host                       172.16.1.20
amqp_port                       5672
amqp_exchange                   solarExchange
amqp_user                       amqpbrokeruser
amqp_password                   amqpbrokerpassword
amqp_routingkey                 key
amqp_vhost                      /

# Simulation mode: in simulation mode pulse input and meter input is simulated
# 0 - production mode, 1 - simulation mode
simulation_mode                 0
# The file where simulated smart meter energy readings are stored
sim_meter_file                  data/simenergy.txt
